<div id="navigation">
    <ul class="nav" id="side-menu" side-navigation>
        <li class="active">
            <a href="" ui-sref="dashboard"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">beta</span> </a>
        </li>
        <li>
            <a href="/"  ui-sref="twitter"> <span class="nav-label">Twitter</span><span class="label label-warning pull-right">beta</span> </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-label">Stats</span><span class="fa arrow"></span> </a>
                <ul class="nav">
                    <li><a href="/">Not Implemented</a></li>
                </ul>
        </li>
    </ul>
</div>
